<h1>All articles</h1>

<% @articles.each do |article| %>
  <h3><%= link_to article.title, article %></h3>
  <%= image_tag article.image.url(:large) %>
  <p><%= article.summary %></p>
<% end %>

<%= link_to 'New', new_article_path %>

<%= will_paginate @articles, inner_window: 1 %>