<!DOCTYPE html>
<html>
<head>
  <title>MiamBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css" %>
  <%= javascript_include_tag src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/js/materialize.min.js" %>
</head>
<body>

  <%= yield %>

  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
  <div class="vertical-spacer"></div>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Challenge</h5>
          <p class="grey-text text-lighten-4">I built this blog for Simplon.Prod</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Find me on</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/stephanyan">GitHub</a></li>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/stephane_hary">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="http://linkedin.com">LinkedIn</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
              © 2015 Stéphane Rabenarisoa
      </div>
    </div>
  </footer>
</body>
</html>
